{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}

<div class="account-pages my-5 pt-sm-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 col-xl-5">
				<div class="card overflow-hidden">
					<div class="bg-primary bg-soft">
						<div class="row">
							<div class="col-7">
								<div class="text-primary p-4">
									<h5 class="text-primary">{% trans "Social Network Login Failure" %}</h5>
								</div>
							</div>
							<div class="col-5 align-self-end">
								<img src="{% static 'assets/images/profile-img.png' %}" alt="" class="img-fluid" />
							</div>
						</div>
					</div>
					<div class="card-body pt-0">
						<div class="auth-logo">
							<div class="auth-logo-dark">
								<div class="avatar-md profile-user-wid mb-4">
									<span class="avatar-title rounded-circle bg-light">
										<img src="{{ global_preferences.logo.url }}" alt="" class="rounded-circle" height="72" width="72" />
									</span>
								</div>
							</div>
						</div>
						<div class="p-2">
							{% url 'account_login' as login_url %}
							<div class="alert alert-primary" role="alert">
								{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If
								this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}
							</div>
							<a href="{% url 'dashboard' %}" class="btn btn-primary w-md waves-effect waves-light">Go To Dashboard</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}