{% extends "base/index.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block breadcrumb %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
	{% include 'profile/information.html' %}
	<div class="col-xl-9">
		<div class="card">
			<div class="card-body">
				<h4><i class="fas fa-lock me-2"></i> {% trans "Change Password" %}</h4>
				<p>
					{% trans "You can update your password here." %}
				</p>
				<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
					{% csrf_token %}
					<div class="row">
						<div class="col-xl-12">
							{{ form|crispy }}
						</div>
						<div class="col-xl-12">
							<button type="submit" class="btn btn-primary w-md waves-effect waves-light"
								name="action">{% trans "Change Password" %}</button>
							<a href="{% url 'account_reset_password' %}"
								class="btn btn-danger w-md waves-effect waves-light">{% trans "Forgot Password?" %}</a>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}