{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="account-pages my-5 pt-sm-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 col-xl-5">
				<div class="card overflow-hidden">
					<div class="bg-primary bg-soft">
						<div class="row">
							<div class="col-7">
								<div class="text-primary p-4">
									<h5 class="text-primary">{% trans "Change Password" %}</h5>
									<p>{% trans "Your password is now changed." %}</p>
								</div>
							</div>
							<div class="col-5 align-self-end">
								<img src="{% static 'assets/images/profile-img.png' %}" alt="" class="img-fluid" />
							</div>
						</div>
					</div>
					<div class="card-body pt-0">
						<div class="auth-logo">
							<div class="auth-logo-dark">
								<div class="avatar-md profile-user-wid mb-4">
									<span class="avatar-title rounded-circle bg-light">
										{% if global_preferences.logo %}
										<img src="{{ global_preferences.logo.url }}" alt="" class="rounded-circle" height="72" width="72" />
										{% else %}
										<img src="{% static 'assets/images/logo.svg' %}" alt="" class="rounded-circle" height="72"
											width="72" />
										{% endif %}
									</span>
								</div>
							</div>
						</div>
						<div class="p-2">
							<div class="alert alert-primary" role="alert">
								{% trans "Congratulations. Your password has been changed. Now you can login using your new password." %}
							</div>
						</div>
					</div>
				</div>
				{% include 'account/footer.html' %}
			</div>
		</div>
	</div>
</div>

<h1>{% trans "Change Password" %}</h1>
<p>{% trans 'Your password is now changed.' %}</p>
{% endblock %}