{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="account-pages my-5 pt-sm-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 col-xl-5">
				<div class="card overflow-hidden">
					<div class="bg-primary bg-soft">
						<div class="row">
							<div class="col-7">
								<div class="text-primary p-4">
									<h5 class="text-primary"> Reset Password</h5>
									<p>Reset Password with Tajmoho International.</p>
								</div>
							</div>
							<div class="col-5 align-self-end">
								<img src="{% static 'assets/images/profile-img.png' %}" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="card-body pt-0">
						<div>
							<a href="{% url 'dashboard' %}">
								<div class="avatar-md profile-user-wid mb-4">
									<span class="avatar-title rounded-circle bg-light">
										{% if global_preferences.logo %}
										<img src="{{ global_preferences.logo.url }}" alt="" class="rounded-circle" height="72" width="72" />
										{% else %}
										<img src="{% static 'assets/images/logo.svg' %}" alt="" class="rounded-circle" height="72"
											width="72" />
										{% endif %}
									</span>
								</div>
							</a>
						</div>

						<div class="p-2">
							{% if user.is_authenticated %}
							<div class="alert alert-success text-center mb-4" role="alert">
								{% include "account/snippets/already_logged_in.html" %}
							</div>
							{% else %}
							<div class="alert alert-success text-center mb-4" role="alert">
								{% trans "Enter your Email and instructions will be sent to you!" %}
							</div>
							{% endif %}
							<form class="form-horizontal" method="POST" action="{% url 'account_reset_password' %}">

								{% csrf_token %}
								{{ form|crispy }}
								<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
								</p>
								<div class="text-end">
									<input class="btn btn-primary w-md waves-effect waves-light" type="submit"
										value="{% trans 'Reset My Password' %}" />
								</div>

							</form>
						</div>
					</div>
				</div>
				{% include 'account/footer.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock %}