{% load static %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="Tajmoho International" name="description" />
<meta content="Themesbrand" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

<!-- DataTables -->
<link
	href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"
	rel="stylesheet"
	type="text/css"
/>
<link
	href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.bootstrap4.min.css"
	rel="stylesheet"
	type="text/css"
/>

<!-- Responsive datatable examples -->
<link
	href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap4.min.css"
	rel="stylesheet"
	type="text/css"
/>

<!-- Bootstrap Css -->
<link
	href="{% static 'assets/css/bootstrap.min.css' %}"
	id="bootstrap-style"
	rel="stylesheet"
	type="text/css"
/>
<!-- Icons Css -->
<link
	href="{% static 'assets/css/icons.min.css' %}"
	rel="stylesheet"
	type="text/css"
/>

<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
/>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
/>

<link
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css"
	rel="stylesheet"
/>

<!-- App Css-->
<link
	href="{% static 'assets/css/app.min.css' %}"
	id="app-style"
	rel="stylesheet"
	type="text/css"
/>

<link
	rel="stylesheet"
	href="{% static 'assets/custom/custom-style.min.css' %}"
/>
